$primary: #00c6dd;
$secondary: grey;
$tertiary: #f1e3d4;

$btn-border-radius: 10px;

@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Footer*/
.Footer {
    padding-top: 40px;
    padding-bottom: 28px;
    margin-top: 12px;
    background-color: #343434;
    color: white;
}

.Footer h5 {
    color: #00c6dd;
}

.ft-1 h3 {
    font-weight: 700;
    letter-spacing: 2px;
}

.ft-1 span {
    color: #00c6dd;
}

.ft-1 p {
    padding: 0rem 5rem 0.8rem 0;
    font-weight: 500;
}

.footer-icons {
    margin-bottom: 20px;
}

.footer-icons a {
    padding-right: 20px;
    color: white;
    border-radius: 50%;
}

.footer-icons a:hover {
    color: #00c6dd;
    transition: 0.5s;
    cursor: pointer;
}

.ft-2 ul {
    list-style: none;
    padding-left: 4px;
}

.ft-2 ul li {
    padding: 0.35rem 0;
    font-weight: 500;
}

.ft-2 ul li a:hover {
    color: #00c6dd;
}

.ft-2 ul a {
    text-decoration: none;
    color: white;
    font-size: 1.06rem;
}

.ft-3 p {
    font-weight: 500;
    padding: 0.1rem 0;
    font-size: 1.06rem;
}

.ft-3 svg {
    padding-right: 0.5rem;
    height: 25px;
    width: 25px;
}

.ft-3 svg:hover {
    color: #00c6dd;
}

.Last-footer {
    background: #343434;
    text-align: center;
    padding: 8px;
}

.Last-footer p {
    color: white;
    margin-bottom: 0;
    font-size: 1 rem;
    font-weight: 400;
}

/* Login/Register */
.login-box {
    max-width: 450px;
    padding: 25px 25px;
    margin: 75px auto;
    background-color: #fff;
}

.login-box a {
    text-decoration: none;
    margin-left: 4px;
    opacity: 90%;
}

.login-box a:hover {
    opacity: 100%;
}

.login-box p {
    margin-left: 2px;
    opacity: 85%;
}

.auth-button,
.auth-button:hover,
.auth-button:hover:active,
.auth-button:disabled {
    color: white;
}

.bag-qty {
    width: 20px;
    height: 20px;
    padding-left: 0.35em;
    padding-right: 0.35em;
    font-size: smaller;
}

/*Home*/
.section-heading {
    display: flex;
    color: #343434;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-heading:after {
    content: "";
    height: 3px;
    width: 50px;
    background: #00c6dd;
    margin-top: 10px;
}

.noBooks-container {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.book-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.cardImg {
    height: 215px;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.addButton,
.addButton:hover,
.addButton:hover:active {
    color: white;
    padding: 6px;
    font-size: 12px;
}

.bodyText {
    font-size: 14px;
}

/* Bookdetails page */
.detail-img {
    padding: 30px;
}

.coverImg {
    max-width: 200px;
    max-height: 450px;
    border-radius: 5px;
}

.detail-text {
    background-color: #dbf6f1;
    border-radius: 5px;
    padding: 40px 60px;
    min-height: 300px;
}

.book-detail h6 {
    margin-top: 20px;
    font-style: italic;
    color: red;
}


/* Cart */
.cartButton,
.cartButton:hover,
.cartButton:hover:active,
.cartButton:disabled {
    color: white;
    padding: 10px 16px;
}

.cartItem-image {
    width: 55px;
    height: 80px;
}

.remove-button {
    border-radius: 10px;
    padding: 3px 4px;
    font-size: smaller;
    margin-top: 3px;
}

.remove-button:hover,
.remove-button:hover:active {
    color: white;
}

.cart-item {
    border-top: 1px solid rgb(187, 187, 187);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    align-items: center;
}

.cart-empty {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
} 

/* Cart Summary */
.cart-summary {
    border-top: 1px solid rgb(187, 187, 187);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
}

.cart-subtotal {
    font-weight: 600;
    padding-right: 37px;
}

.cart-total {
    font-size: larger;
    font-weight: 600;
    padding-right: 37px;
}

.clear-button:hover {
    color: white;
}

.clear-button:hover:active {
    color: rgba(144, 222, 222, 0.63);
}

.continue-shopping,
.start-shopping a {
    text-decoration: none;
    color: gray;
}

.start-shopping {
    margin-top: 30px;
}

/* Checkout page */
.checkout-total {
    border-top: 1px solid rgb(187, 187, 187);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
}

.checkout-submit {
    margin-top: 40px;
}

.checkout-address {
    width: 500px;
}

/* Slick Slider */
.slickWrapperCstm {
    padding: 80px;
}

.slick-arrow::before {
    display: none;
}

.slick-next {
    right: -60px;
}

.slick-prev {
    left: -30px;
}

@media (max-width: 767px) {
    .Footer {
        text-align: center;
    }  
    
    .ft-1 p {
        text-align: center;
        padding: 4px 8px;
    }
}

@media (max-width: 415px) {
    .detail-text {
        padding: 20px;
    }
}