$primary: #00c6dd;
$secondary: grey;
$tertiary: #f1e3d4;

$btn-border-radius: 10px;

@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.st-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 300px;
}

/* Login/Register */
.login-box {
    max-width: 450px;
    padding: 25px 25px;
    margin: 75px auto;
    background-color: #fff;
}

.auth-button,
.auth-button:hover,
.auth-button:hover:active,
.auth-button:disabled {
    color: white;
}

.bag-qty {
    width: 20px;
    height: 20px;
    padding-left: 0.35em;
    padding-right: 0.35em;
    font-size: smaller;
}

/*Home*/
.section-heading {
    display: flex;
    color: #343434;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-heading:after {
    content: "";
    height: 3px;
    width: 50px;
    background: #00c6dd;
    margin-top: 10px;
}

.noBooks-container {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center; 
}
.book-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;    
}

.cardImg {
    height: 215px;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.addButton,
.addButton:hover,
.addButton:hover:active {
    color: white;
    padding: 6px;
    font-size: 12px;
}

.bodyText {
    font-size: 14px;
}

/* Bookdetails page */
.detail-text {
    position: absolute;
    right: 320px;
    background-color: #dbf6f1;
    border-radius: 5px;
    padding: 40px 80px 25px 100px;
    width: 50%;
    min-height: 300px;
}

.book-detail h6 {
    margin-top: 20px;
    font-style: italic;
    color: red;
}

.detail-img {
    position: absolute;
    left: 290px;
    top: 120px;
}

.coverImg {
    max-width: 200px;
    max-height: 450px;
}

/* Cart */
.cartButton,
.cartButton:hover,
.cartButton:hover:active,
.cartButton:disabled {
    color: white;
    padding: 10px 16px;
}

.cartItem-image {
    width: 55px;
    height: 80px;
}

.remove-button {
    border-radius: 10px;
    padding: 3px 4px;
    font-size: smaller;
    margin-top: 3px;
}

.remove-button:hover,
.remove-button:hover:active {
    color: white;
}

.cart-item {
    border-top: 1px solid rgb(187, 187, 187);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    align-items: center;
}

/* Cart Summary */
.cart-summary {
    border-top: 1px solid rgb(187, 187, 187);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
}

.cart-subtotal {
    font-weight: 600;
    padding-right: 37px;
}

.cart-total {
    font-size: larger;
    font-weight: 600;
    padding-right: 37px;
}

.clear-button:hover {
    color: white;
}

.clear-button:hover:active {
    color: rgba(144, 222, 222, 0.63);
}

.continue-shopping,
.start-shopping a {
    text-decoration: none;
    color: gray;
}

.start-shopping {
    margin-top: 30px;
}

/* Checkout page */
.checkout-total {
    border-top: 1px solid rgb(187, 187, 187);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
}

.checkout-submit {
    margin-top: 40px;
}

.checkout-address {
    width: 500px;
}

/* Slick Slider */
.slickWrapperCstm {
    padding: 80px;
}

.slick-arrow::before {
    display: none;
}

.slick-next {
    right: -60px;
}

.slick-prev {
    left: -30px;
}